# Compiled Object files
**/.DS_Store
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
**build/
!**build/.gitkeep
**install/
!**install/.gitkeep


## Local 

.vscode/*
.idea/*.xml

rblas-build/**/*
!rblas-build/.gitkeep
rblas-install/**
!rblas-install/.gitkeep
!rblas-install/bin/.gitkeep
!rblas-install/lib/.gitkeep
!rblas-install/include/.gitkeep
lib/*
bin/*
test/test_runner
