# It's wasteful to store these matrices in the repo. They
# should be pulled down from the internet as needed.
# sparse-data-matrices/*
# sparse-low-rank-approx/data-matrices/*
# sparse-low-rank-approx/fast-matrix-market/*
